<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= config.welcomeMessage %>2</title>
  </head>
  <body>
    <h1><%= config.welcomeMessage %>2</h1>
    <div
      class="width-100vw height-100vh content"
      style="background-color: #ff9a9a"
      type="tabs"
      direction="Vertical"
      animation="row"
    >
      <div type="btnGroup">
        <div class="group-btn" type="btnGroupItem" tabID="GI1" select>1</div>
        <div class="group-btn" type="btnGroupItem" tabID="GI2">2</div>
        <div class="group-btn" type="btnGroupItem" tabID="GI3">3</div>
        <div class="group-btn" type="btnGroupItem" tabID="GI4">4</div>
      </div>
      <div type="tabsView">
        <div type="tab" tabID="GI1" style="background-color: antiquewhite">
          1
        </div>
        <div type="tab" tabID="GI2" style="background-color: aqua">2</div>
        <div type="tab" tabID="GI3" style="background-color: aquamarine">3</div>
        <div type="tab" tabID="GI4" style="background-color: burlywood">4</div>
      </div>
    </div>
    <div
      class="width-100vw height-100vh content"
      style="background-color: #000000"
      type="tabs"
      direction="Horizontal"
      animation="switch"
      selecttag="false"
    >
      <div type="btnGroup">
        <li class="group-btn" type="btnGroupItem" tabID="GIa1">
          <div title>t1</div>
          <div content>
            title 1title 1title 1title 1title 1title 1title 1title 1title 1title
            1title 1title 1title 1title 1title 1title 1title 1title 1title
            1title 1title 1title 1title 1title 1title 1title 1title 1title
            1title 1title 1
          </div>
        </li>
        <li class="group-btn" type="btnGroupItem" tabID="GIa2" select>
          <div title>t2</div>
          <div content>
            title 2title 2title 2title 2title 2title 2title 2title 2title 2title
            2title 2title 2title 2title 2title 2title 2title 2title 2title
            2title 2title 2title 2title 2title 2title 2title 2title 2title
            2title 2title 2title 2title 2title 2title 2title 2title 2title
            2title 2
          </div>
        </li>
        <li class="group-btn" type="btnGroupItem" tabID="GIa3">
          <div title>t3</div>
          <div content>
            title 3title 3title 3title 3title 3title 3title 3title 3title 3title
            3title 3title 3title 3title 3title 3title 3title 3title 3title
            3title 3title 3title 3title 3title 3title 3title 3title 3title
            3title 3title 3title 3title 3title 3title 3title 3title 3title 3
          </div>
        </li>
        <li class="group-btn" type="btnGroupItem" tabID="GIa4">
          <div title>t4</div>
          <div content>
            title 4title 4title 4title 4title 4title 4title 4title 4title 4title
            4title 4title 4title 4title 4title 4title 4title 4title 4title
            4title 4title 4title 4title 4title 4title 4title 4title 4title
            4title 4title 4title 4title 4title 4
          </div>
        </li>
        <span class="select"></span>
        <!-- 此处标记可以不写，后续自动添加 -->
      </div>
      <div type="tabsView">
        <div type="tab" tabID="GIa1">
          <video
            videoID="GIa1"
            src="<%= require('../../assets/videos/1.mp4') %>"
            muted
            poster
          ></video>
        </div>
        <div type="tab" tabID="GIa2">
          <video
            videoID="GIa2"
            src="<%= require('../../assets/videos/2.mp4') %>"
            muted
            poster
          ></video>
        </div>
        <div type="tab" tabID="GIa3">
          <video
            videoID="GIa3"
            src="<%= require('../../assets/videos/3.mp4') %>"
            muted
            poster
          ></video>
        </div>
        <div type="tab" tabID="GIa4">
          <video
            videoID="GIa4"
            src="<%= require('../../assets/videos/4.mp4') %>"
            muted
            poster
          ></video>
        </div>
      </div>
    </div>
  </body>
</html>
