h1 {
  color: green;
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: greenyellow;
  }
}

:root {
  --tool-bar-height: 50px;
  --btnGroup-select-color: #1867c0;
}

.content {
  position: relative;
  background-color: aquamarine;
  overflow: hidden;
}

div[type="btnGroup"] {
  position: relative;
  width: 100%;
  height: var(--tool-bar-height);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0px; /* 按钮的间距 */
}

div[type="btnGroup"] div {
  position: relative;
  min-width: 150px;
  height: 100%;
  line-height: var(--tool-bar-height);
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}

div[type="btnGroup"] div:hover {
  background-color: #ddd;
}

div[select] {
  color: var(--btnGroup-select-color) !important;
}

div[type="btnGroup"] .select {
  position: absolute;
  bottom: 0;
  left: -150px;
  min-width: 150px;
  height: 3px; /* 选择标识的高度 */
  background-color: var(--btnGroup-select-color);
  transition: left ease;
  z-index: 2;
  pointer-events: none;
}

div[type="tabsView"] {
  position: absolute;
  height: 100%;
  background-color: #1867c0;
  transition: left ease; /* 平滑过渡效果 */
}
div[type="tabsView"] div[type="tab"] {
  height: 100%;
  width: 100vw; /* 未加载完成前占满屏幕 */
  float: left;
}
