h1 {
  color: green;
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: greenyellow;
  }
}

:root {
  --tool-bar-height: 50px;
  --tool-bar-width: 150px;
  --tool-bar-Vertical-height: 150px;
  --btnGroup-select-color: #1867c0;
}

.content {
  position: relative;
  overflow: hidden;
}

/* 总体样式 */
[type="tabs"] {
  height: 100vh;
  display: flex;
}
[type="tabs"][direction="Horizontal"] {
  flex-direction: row;
}
[type="tabs"][direction="Vertical"] {
  flex-direction: column;
}

/* 按钮组样式 */
[type="btnGroup"] {
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0px; /* 按钮的间距 */
}
[direction="Vertical"] [type="btnGroup"] {
  width: 100%;
  height: var(--tool-bar-height);
  flex-direction: row;
}
[direction="Horizontal"] [type="btnGroup"] {
  flex-direction: column;
}

/* 按钮样式 */
[type="btnGroup"] .group-btn {
  position: relative;
  min-width: var(--tool-bar-width);
  height: 100%;
  line-height: var(--tool-bar-height);
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}
[direction="Horizontal"] [type="btnGroup"] .group-btn {
  /* height: var(--tool-bar-Vertical-height);
  line-height: var(--tool-bar-Vertical-height); */
  height: auto;
  padding: 10px 0;
}

/* 按钮鼠标移过样式 */
[type="btnGroup"] .group-btn:hover {
  background-color: #ddd;
}
/* 按钮选中样式 */
[select] {
  color: var(--btnGroup-select-color) !important;
}
[select] [title] {
  opacity: 0 !important;
  visibility: hidden !important;
}
[select] [content] {
  opacity: 1 !important;
  visibility: visible !important;
}

.display-none {
  display: none;
}
.display-block {
  display: block;
}

/* 按钮选中标识样式 */
[type="btnGroup"] .select {
  position: absolute;
  background-color: var(--btnGroup-select-color);
  z-index: 2;
  pointer-events: none;
}
[direction="Vertical"] [type="btnGroup"] .select {
  transition: left ease;
  bottom: 0;
  left: calc(0px - var(--tool-bar-width));
  min-width: var(--tool-bar-width);
  height: 3px; /* 选择标识的高度 */
}
[direction="Horizontal"] [type="btnGroup"] .select {
  transition: top ease;
  left: var(--tool-bar-width);
  min-width: 3px;
  height: var(--tool-bar-Vertical-height);
}

[type="tabsView"] {
  position: absolute;
  background-color: #1867c0;
}
[type="tabsView"] [type="tab"] {
  height: 100%;
  width: 100vw; /* 未加载完成前占满屏幕 */
}
[direction="Vertical"] [type="tabsView"] [type="tab"] {
  float: left;
}
[direction="Vertical"] [type="tabsView"] {
  top: var(--tool-bar-height);
  height: calc(100% - var(--tool-bar-height));
}
[direction="Horizontal"] [type="tabsView"] {
  left: var(--tool-bar-width);
  width: calc(100% - var(--tool-bar-width));
  height: calc(100%);
}
[direction="Vertical"] [type="tabsView"][animation="row"] {
  transition: left ease; /* 平滑过渡效果 */
}
[direction="Horizontal"] [type="tabsView"][animation="row"] {
  transition: top ease; /* 平滑过渡效果 */
}
[animation="switch"] [type="tabsView"] [type="tab"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50px;
  transition: left 1s ease, opacity 1s ease, visibility 1s ease;
}
.select-tab {
  opacity: 1 !important;
  visibility: visible !important;
  left: 0 !important;
}
[direction="Horizontal"] [type="btnGroupItem"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
  border-radius: 20px;
}
[direction="Horizontal"] [type="btnGroupItem"] [title] {
  height: auto;
  line-height: normal;
  font-size: 20px;
  transition: opacity 1s ease, visibility 1s ease;
}
[direction="Horizontal"] [type="btnGroupItem"] [content] {
  height: auto;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}
